
* {
  margin: 0px;
  padding: 0px;
  cursor: url(/src/global/global-assets/sketch-coursor-final.png), auto;
  /* font-family: "Merriweather", serif; */

}
body {
  background-image: url("/src/global/global-assets/Paper-bckg.png");
  font-family: 'Ubuntu', sans-serif;
}

main {
  height: 100vh;
}

.boxer {
  height: 42%;
}
p.name {
  font-size: 8vh;
  color: black;
  top: 11vh;
  letter-spacing: 10px;
}
p.description {
  font-size: 4vh;
  color: black;
  opacity: 0.6;
  font-weight: 100;

}

.buttons-box {
  margin-top: 5%;
}

.wrapper {
  transform: translate(-50%, -50%);
}


#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  min-height: 100vh;
}

nav {
  position: relative;
  top: 8vh;
}

.social {
  padding-left: 15px;
  padding-right: 15px;
  display: inline;
}

.fab {
  color: white;
  opacity: 0.5;
  font-size: xxx-large;
  text-align: center;
}

.fab:hover {
  opacity: 1;
}

a {
  display: block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

a span {
  position: relative;
  z-index: 2;
  cursor: url(/src/global/global-assets/hover-cursor.png),
    url(/src/global/global-assets/hover-cursor.png), pointer;
}

a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ec8c60;
  transition: all 0.35s;
}

a:hover {
  color: #fff;
}

a:hover:after {
  width: 100%;
}

@media screen and (max-width: 700px) {
  .boxer img {
    margin-bottom: -10%;
    scale: 90%;
  }
  p.name {
    font-size: 4.5vh;
  }
  p.description {
    font-size: 2.5vh;
    top: 4vh;
  }
  div.wrapper a {
    width: 80px;
    font-size: 13px;
  }
}

/* animation-delays */
.delay-1 {
  animation-delay: 0.25s;
}
.delay-2 {
  animation-delay: 0.5s;
}
.delay-3 {
  animation-delay: 0.75s;
}
.delay-4 {
  animation-delay: 1s;
}
