@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
* {
  cursor: url(/src/global/global-assets/sketch-coursor-final.png), auto;
  font-family: "Merriweather", serif;
  letter-spacing: 0.05rem;
}
body {
  background-image: url("/src/global/global-assets/Paper-bckg.png");
  font-family: "Merriweather", serif;
  color: #333;
  padding: 65px 47px;
  margin: 0;
}

.portfolio .image-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.portfolio .image-container .box {
  width: 31rem;
  margin: 1rem;
  border-radius: 0.3rem;
  box-shadow: -3px 5px 10px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  height: 27rem;
}

.portfolio .image-container .box img {
  box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.2);
}

.portfolio .image-container .box .info h3 {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.35rem + 0.75vw, 2.25rem);
  color: var(--primary-text-color); /*for dark mode toggle*/
}
.btn {
  cursor: url(/src/global/global-assets/hover-cursor.png),
    url(/src/global/global-assets/hover-cursor.png), pointer;
}

/*navbar*/

/*delays animate*/
.delay-1 {
  animation-delay: 0.25s;
}
.delay-2 {
  animation-delay: 0.5s;
}
.delay-3 {
  animation-delay: 0.75s;
}
.delay-4 {
  animation-delay: 1s;
}
.delay-5 {
  animation-delay: 1.25s;
}
.delay-6 {
  animation-delay: 1.5s;
}
.delay-7 {
  animation-delay: 1.75s;
}
.delay-8 {
  animation-delay: 2s;
}
