@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
* {
  cursor: url(/src/about/assets/sketch-coursor-final.png), auto;
  font-family: 'Merriweather', serif;
  letter-spacing: 0.05rem;
  
}
body {
  background-image: url("/src/about/Paper-bckg.png");
  font-family: 'Merriweather', serif;
  color: #333;
  padding: 48.888px 35.811px ;
  margin: 0;
  overflow-x: hidden;

}



.portfolio .image-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.portfolio .image-container .box {

  width: 31rem;
  margin: 1rem;
  border-radius: 0.3rem;
box-shadow: -3px 5px 10px 0px rgba(0,0,0,0.3);  overflow: hidden;
  height: 27rem;
}

.portfolio .image-container .box img {
  box-shadow: 0px 0px 18px 5px rgba(0,0,0,0.2);}

.portfolio .image-container .box .info h3 {
  font-size: 2.5rem;
  color: var(--primary-text-color); /*for dark mode toggle*/
}
.btn{
  cursor: url(/src/about/assets/hover-cursor.png),
  url(/src/about/assets/hover-cursor.png), pointer;
}


/*navbar*/
.topnav {
  overflow: hidden;
    font-size: 1.168vw;

}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: url(/src/about/assets/hover-cursor.png),
    url(/src/about/assets/hover-cursor.png), pointer;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
}

.topnav a:hover {
  color: #ec8c60;
}
.topnav a.logo:hover {
  color: #8015b9;
}
.topnav div.logo {
  color: black;
  float: left;
  text-decoration: none;
  display: flex;
  align-items: center;
}

#date {
  margin-left: 30px;
  font-size: smaller;
  text-transform: uppercase;
}
.topnav a:after {
  content: "";
  position: absolute;
  width: 80%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 13px;
  background-color: #ec8c60;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.topnav a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.topnav div.active p {
  font-size: 1.168vw;
  font-weight: 700;
}
/*delays animate*/
.delay-1 {
  animation-delay: 0.25s;
}
.delay-2 {
  animation-delay: 0.5s;
}
.delay-3 {
  animation-delay: 0.75s;
}
.delay-4 {
  animation-delay: 1s;
}
.delay-5 {
  animation-delay: 1.25s;
}
.delay-6 {
  animation-delay: 1.5s;
}
